*{
    box-sizing: border-box;

}

@media (max-width:600px){
    *{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .header_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding:1.5rem;
    }
    .fa-bars{
        font-size:1.3rem;
    }
    .nav_text{
        font-size: 1.4rem;
        font-family: 'roboto',sans-serif;
        font-weight: 600;
    }
    .fa-cart-shopping{
        font-size: 1.3rem;
    }
    .top_heading{
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        margin-bottom: 9%;
    }
    #email{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:96%;
        padding-bottom:2%;
    }
    #email::placeholder{
        font-size: 1.1rem;
    }
    .email_heading{
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    .main-container{
       margin: 1.6rem;
    } 
    #phone{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:96%;
        margin-top:10%;
        padding-bottom:2%;
    }
    #phone::placeholder{
        font-size: 1.1rem;
    }
    .shipping_heading,
    .billing,
    .payment_text,
    .order
    {
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top:8%;
        margin-bottom: 9%;
    }
    #address,
    #payment{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:96%;
        padding-bottom:2%;
    }
    #address::placeholder
    {
        font-size:1.1rem ;
    }
    #city,
    #card
    {
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:96%;
        margin-top:10%;
        padding-bottom:2%;
    }
    #city::placeholder,
    #payment::placeholder,
    #card::placeholder
    {
        font-size: 1.1rem; 
    }
    #state::placeholder,
    #postal::placeholder,
    #payment::placeholder,
    #card::placeholder,
    #cvv::placeholder
    {
        font-size: 1.1rem;
    }
    #state,
    #postal{
        border:none;
        border-bottom: 1.5px solid #c4c0c0; 
        width:48%;
        margin-top: 10%;
        padding-bottom:2%;
    }
    input:focus {
        outline: none; 
        border-color: black;
        background: transparent;
    }
    #country{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:96%;
        outline: none; 
        background: transparent;
        padding-bottom:2%;
    }
    .country,.expiry{
        margin-top: 8%;
        margin-bottom: 5%;
    }
    select#country option,
    #year option,
    #year_number option
    {
        font-size:1.1rem;
    }
    #year,
    #year_number,
    #cvv{
        border:none;
        border-bottom: 1.5px solid #c4c0c0; 
        width:32%;
        outline: none; 
        background: transparent;
        padding-bottom:2%;
    }
    .top_content,.bottom_content{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .bottom_content{
        margin-bottom:35%;
    }
    .order_details{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    #place-order-button{
        background-color:#172C50;
        width:100%;
        color:white;
        padding:1.2rem;
        font-size: 1.2rem;
        border:none;
        position:fixed;
        bottom:0;
        left:0;
        outline:none;
    }
}

@media (min-width:601px){
    .header_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1.3rem;
    }
    .fa-bars{
        display: none;
    }
    .nav_text{
        font-size: 1.2rem;
        font-family: 'roboto','sans-serif';
        font-weight: 500;
    }
    .fa-cart-shopping{
        font-size: 1.35rem;
    }
    .top_heading{
        display: flex;
        justify-content: center;
        font-family: 'sans-serif';
        margin-top: 3%;
        margin-bottom:1%;
        margin-left: -1%;
    }
    .body_content{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:10%;
        padding:5% 20%;
    }

    .first_content{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .second_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -10%;
    }

    #email{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        padding-bottom:2%;
    }
    #email::placeholder{
        font-size: 0.975rem;
    }
    .email_heading{
        font-weight: 600;
        margin-bottom:8%;
    }
    .main-container{
       margin: 1.6rem;
    } 
    #phone{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        margin-top:10%;
        padding-bottom:2%;
    }
    #phone::placeholder{
        font-size: 0.975rem;
    }
    .shipping_heading,
    .billing,
    .payment_text,
    .order
    {
        font-weight: 600;
        margin-bottom: 1.5rem;
        margin-top:8%;
        margin-bottom: 8%;
    }
    #address,
    #payment{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        padding-bottom:2%;
    }
    #address::placeholder
    {
        font-size:0.975rem;
    }
    #city,
    #card
    {
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        margin-top:10%;
        padding-bottom:2%;
    }
    #city::placeholder,
    #payment::placeholder,
    #card::placeholder
    {
        font-size:0.975rem;
    }
    #state::placeholder,
    #postal::placeholder,
    #cvv::placeholder
    {
        font-size:0.975rem;
    }
    #payment::placeholder,
    #card::placeholder{
        font-size: 0.975rem;
    }
    #state,
    #postal{
        border:none;
        border-bottom: 1.5px solid #c4c0c0; 
        width:65%;
        margin-top: 10%;
        padding-bottom:2%;
    }
    input:focus {
        outline: none; 
        border-color: black;
        background: transparent;
    }
    #country{
        border:none;
        border-bottom: 1.5px solid #c4c0c0;
        width:100%;
        outline: none; 
        background: transparent;
        padding-bottom: 2%;
    }
    .country,.expiry{
        margin-top: 8%;
        margin-bottom: 5%;
    }
    select#country option,
    #year option,
    #year_number option
    {
        font-size:1.1rem;
    }
    #year,
    #year_number,
    #cvv{
        border:none;
        border-bottom: 1.5px solid #c4c0c0; 
        width:33.3%;
        outline: none; 
        background: transparent;
        padding-bottom: 2%;
    }
    .top_content,.bottom_content{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .order_details{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .city_details{
        display: flex;
        flex-direction: row;
        gap:1%;
        justify-content: flex-start;
    }
    .billing_details{
        display:flex;
        flex-direction: row;
        gap:2%;
    }
    .expiry_details{
        display: flex;
        flex-direction: row;
        gap:1%;
    }
    #place-order-button{
       background-color: white;
       color:#212121;
       border:2px solid black;
       padding: 2% 8%;
       font-weight: 500;
       font-size: 1rem;
       outline:none;
       text-align: center;
       margin-top: 8%;
    }
}